* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff7ed;
}

.aboutus-image1 {
  width: 100%;
}
.title {
  display: flex;
  justify-content: center;
}

.title-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
}

.aboutus-image1 {
  /* aboutus-image1 1 */
  box-sizing: border-box;

  position: absolute;
  width: 1014px;
  height: 675px;
  left: 214px;
  top: 389px;

  background: url(aboutus-image.png);
  border: 1px solid #000000;
}

.container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
  text-align: justify;
  letter-spacing: 0.01em;
  position: absolute;
  width: 1014px;
  height: 343px;
  left: 100px;
  top: 1113px;
}
.line {
  height: 1px;
  background-color: black;
}
