.container {
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
.title-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #243b30;
  text-align: center;
}
.par {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: justify;
  letter-spacing: 0.01em;

  color: #000000;
}
/* Footer bar*/
.footer-bar {
  display: flex;
  background-color: #243b30;
  justify-content: end;
  margin-top: 30px;
}

.intellectual-property {
  margin-right: 25px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  color: #fffdfd;
}
