.hero1 {
  background-image: url(./Images/carousel-1.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
}

.hero2 {
  background-image: url(./Images/carousel-2.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
}

.hero3 {
  background-image: url(./Images/carousel-3.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
}

.title {
  display: flex;
  justify-content: center;
}

.title-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
  color: #243b30;
}
.container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-image-1 {
  width: 100%;
  max-width: 500px;
  margin-left: 60px;
  margin-right: 60px;
}
.main-image-2 {
  width: 100%;
  max-width: 500px;
  margin-left: 60px;
  margin-right: 60px;
}

.second-line {
  height: 1px;
  width: 100%;
  background-color: #999999;
  margin-top: 50px;
}

.plants-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.indoor-column {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 60px;
  margin-right: 60px;
}

.indoor-image {
  width: 100%;
  max-width: 500px;
  height: 332px;
}

.border-plants {
  border: 1px solid #999999;
}

.border-plants-margin {
  margin-top: 20px;
}
.text-plants {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name-plant {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.02em;
  color: #243b30;
}
.price-plant {
  margin-top: 0px;
  margin-bottom: 1px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #243b30;
}
.title-container {
  height: 130px;
  display: flex;
  align-items: center;
}

.title-container-center {
  justify-content: center;
}
.indoor-plants-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  color: #243b30;
}
.plants-characteristics {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  text-align: center;
  color: #243b30;
}
.button-view-more {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 30px;
  background-color: #243b30;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.02em;
}
.button-view-more:active {
  background-color: #375748;
}
.newsletter-section {
  display: flex;
  flex-direction: column;
}
.newsletter-title {
  margin: 0px;
  margin-top: 50px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.02em;
  color: #243b30;
}
.newsletter-info {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #243b30;
  padding: 0px;
  margin: 0px;
}
.suscribe-input {
  width: 350px;
  margin-top: 70px;
  margin-bottom: 5px;
  height: 40px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.02em;
  border: solid 1px#999999;
}
.suscribe-button {
  width: 350px;
  height: 40px;
  background-color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 100px;
  border: none;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #ffffff;
}
.suscribe-button:active {
  background-color: #375748;
}
.newsletter-title-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-suscribe-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customers-section {
  background-color: #f2e0be;
  width: 100%;
}
.customer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.comments-title {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.02em;
  color: #243b30;
}
.customers-comments {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 60px;
}

.customer-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer {
  width: 280px;
  text-align: center;
  font-family: "Helvetica";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #243b30;
}
.costumer-name {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #243b30;
}
/* Beggining of fotter */
/* Opening hours */
.container-footer {
  display: flex;
  flex-direction: row;
}
.opening-hours-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.hours-adress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening-hours {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.02em;
}
.location {
  color: #243b30;
  margin-bottom: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.02em;
}

.adress {
  margin-bottom: 3px;
  color: #243b30;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.02em;
}
.google-maps-link {
  font-family: "Helvetica";
  margin-bottom: 12px;
  color: #243b30;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.02em;
  text-decoration: underline;
}
.day-hour {
  font-family: "Helvetica";
  margin-top: 2px;
  margin-bottom: 2px;
  color: #243b30;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.02em;
}
.location-islington {
  margin-top: 30px;
}

.sunday-islington {
  margin-bottom: 100px;
}
/* Footer line */
.footer-divider {
  background-color: #bbbbbb;
  width: 1px;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* Contact us */
.container-contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact-us-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-us {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #243b30;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.02em;
}
.contact-location {
  color: #243b30;
  margin-bottom: 10px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.02em;
}
.contact-location-islington {
  margin-top: 30px;
}
.phone-number {
  font-family: "Helvetica";
  color: #243b30;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
}
/* Footer bar*/
.footer-bar {
  display: flex;
  background-color: #243b30;
  justify-content: end;
}

.intellectual-property {
  margin-right: 25px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  color: #fffdfd;
}

@media screen and (max-width: 960px) {
  .plants-section {
    flex-direction: column;
    align-items: center;
  }

  .customers-comments {
    flex-direction: column;
    align-items: center;
  }

  .container-footer {
    flex-direction: column;
  }
}
